<script>
    var urls = {
        // Admin / Authenticate
        admin: '/admin',
        accounts: '/accounts',
        createUser: '/createUser',
        login: '/login',
        logout: '/logout',


        // Render
        renderIndex: '/',

        // User Resource
        userLinkInteractions: '{% url "userLinkInteractions" %}',
        getLastRatings: '{% url "getLastRatings" %}',
        getBookmarkedUserResources: '{% url "getBookmarkedUserResources" %}',

        // Follow 
        follow: '{% url "follow" %}',

        // Profile 
        profile: '{% url "profile" %}',
    }
</script>